<!DOCTYPE html>
<html>
  <head>
    <title>IwaAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-md-row align-items-center p-3 border-bottom shadow-sm">
      <h5 class="mr-md-auto header-title">
        <%= link_to root_path do %>
          <i class="fas fa-home"></i>
          IWA Assignment
        <% end %>
      </h5>
      <nav>
        <% if current_user %>
          <%= render '/layouts/top_menu' %>
        <% end %>
      </nav>
    </div>
    <div class="body-content mt-3">
      <div class='layout-notice'>
        <% flash.each do |key, value| %>
          <% type = key == 'alert' ? 'danger' : 'primary' %>
          <div class="alert alert-<%= type %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
